body {
    margin: 0;
    background-color: #648A7B;
    min-height: 100vh;
    background-image: url(images/christmas_background.jpg);
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
}



.wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 40px;
    background-color: rgb(21, 20, 20);
    margin: auto;
    border-radius: 10px;
    box-shadow: 40px 30px 30px rgba(11, 20, 17, 0.743);
}

@media (max-width: 480px) {
html,
    body {
        height: 100%;
        overflow-x: hidden;
    }

    .wrapper {
        margin-top: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    margin: auto;
    display: block;
}

.meme {
    width: 500px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dayBlock {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #A8E6CE; */
    background: linear-gradient(to bottom right, #e69b55, #96CEB4);
    justify-content: center;
    border-radius: 20px;
    border: 8px solid rgb(44, 106, 86);
    pointer-events: auto;
    transition: border-color 0.2s ease;
}


.dayDone {
    width: 200px;
        height: 200px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        border-radius: 20px;
        border: 8px solid #A02334;
        overflow: hidden
}

p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

#dayNumber {
    font-size: 78px;
        color: #084534;
        font-weight: 800;
        text-align: center;
        word-wrap: break-word;
        line-height: 35px;
        margin-top: auto;
        margin-bottom: auto;
        transition: color 0.2s ease, font-size 0.2s ease;
}

.dayBlock:hover {
    background: #FFEEAD;
    cursor: pointer;
    border-color: #A02334;
    
}

.dayBlock:hover #dayNumber {
    font-size: 86px;
        color: #A02334;
}


/* Стиль для модалки */
.surprise {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    /* Модалка поверх бекдропу */
    background-color: #FFEEAD;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    cursor: default;
    color: #A02334;
}

/* Відображення модалки */
.surprise.open {
    visibility: visible;
    opacity: 1;
}

/* Стиль для бекдропу модалки */
.surprise-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #426658a5;
    z-index: 1;
    /* Бекдроп під модалкою */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Відображення бекдропу */
.surprise-backdrop.open {
    visibility: visible;
    opacity: 1;
}

/* Стиль для майбутньої модалки */
.futureModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    /* Модалка поверх бекдропу */
    background-color: #A02334;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    cursor: default;
    color: #FFEEAD;
}

/* Відображення майбутньої модалки */
.futureModal.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* Стиль для бекдропу майбутньої модалки */
.futureModal-backdrop {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #426658a5;
    z-index: 0;
    /* Бекдроп під модалкою */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Відображення бекдропу майбутньої модалки */
.futureModal-backdrop.open {
    visibility: visible;
    opacity: 1;
}


/* Стиль для відкритої модалки */
.surprise.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    /* Масштаб при відкритті */
}



.futureModal.close:hover {
    background: #FFEEAD;
    cursor: pointer;
    border-radius: 50%;
    color: #A02334;

}

.modalContent {
    height: 100%;
}

.modalText {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;

}

.modalTask {
    text-align: center;
    
}

.modalText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Розділяє верхній та нижній блок */
    padding: 40px 20px;
    height: 100%;
    /* Займає всю висоту модального вікна */
    box-sizing: border-box;
}

.modalText p {
    color: #A02334;
    font-size: 22px;
    text-align: center;
    margin: 0 0 auto 0;
    /* Відштовхує вниз інші елементи */
}

.modalText .word-text,
.modalText .format-text {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    /* Щільність між рядками */
    margin: 0;
    /* Забираємо зайві відступи */
}

.modalText .word-text {
    margin-top: auto;
    font-weight: 600;
    /* Відштовхує донизу */
}

.modalText .format-text {
    margin-top: 5px;
    /* Мінімальний відступ між текстами */
}

.futureText {
    padding: 60px 20px;
}

.futureTask {
    text-align: center;

}

.futureText p {
    color: #FFEEAD;
    font-size: 22px;
}

.close {
    position: absolute;
    /* Фіксується відносно вікна браузера */
    top: 5%;
    right: 5%;
    font-weight: bold;
    font-size: 26px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #A02334;
    z-index: 9;
}

.close:hover {
    background: #A02334;
    cursor: pointer;
    border-radius: 50%;
    color: #FFEEAD;

}

.futureModal .close {
    position: absolute;
    /* Фіксується відносно вікна браузера */
    top: 5%;
    right: 5%;
    font-weight: bold;
    font-size: 26px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #FFEEAD;
    z-index: 10;
}

.futureModal .close:hover {
    background: #FFEEAD;
    cursor: pointer;
    border-radius: 50%;
    color: #A02334;

}



/* Для екранів 1920x1080 */
@media (max-width: 1920px) {
    .wrapper {
        width: auto;
        height: 70%;
        padding: 30px;
    }

    .calendar {
        gap: 25px 10px;
    }

    .dayBlock,
    .dayDone {
        width: 150px;
        height: 150px;
    }

    p {
        font-size: 22px;
        line-height: 32px;
    }

    #dayNumber {
        font-size: 72px;
    }

    .surprise,
    .futureModal {
        width: 350px;
        height: auto;
        padding: 20px;
    }

    .modalText {
        padding: 30px 15px;
    }

    .close {
        font-size: 24px;
        width: 28px;
        height: 28px;
    }

        .modalText h2 {
            font-size: 16px;
        }

        .modalText p {
            font-size: 16px;
            line-height: 1.2;
        }
    
        .modalText .word-text,
        .modalText .format-text {
            font-size: 14px;
            line-height: 1;
        }
    
        .modalText .word-text {
            margin-top: 15px;
            font-weight: 400;
        }
    
        .modalText .format-text {
            margin-top: 5px;
        }
    
        .futureText {
            padding: 60px 20px;
        }
    
        .futureTask {
            text-align: center;
    
        }
    
        .futureText p {
            color: #FFEEAD;
            font-size: 18px;
        }
}


@media screen and (min-resolution: 2dppx) {
    body {
        background-image: url(images/christmas_background.jpg);
        /* Залишаємо звичайне зображення */
        background-size: cover;
    }

    .wrapper {
        width: 800px;
        /* Зменшуємо розмір */
        height: 680px;
        padding: 30px;
        box-shadow: 30px 20px 20px rgba(11, 20, 17, 0.6);
        /* Менша тінь */
    }

    .dayBlock,
    .dayDone {
        width: 160px;
        /* Зменшуємо блоки */
        height: 160px;
        border-width: 6px;
        /* Тонші межі */
    }

    #dayNumber {
        font-size: 64px;
        /* Менший текст */
    }

    p {
        font-size: 20px;
        /* Зменшення розміру шрифту */
        line-height: 30px;
    }

    .surprise,
    .futureModal {
        width: 400px;
        /* Зменшені модалки */
        height: 250px;
    }

    .close {
        font-size: 20px;
        /* Менша іконка закриття */
        width: 25px;
        height: 25px;
    }
}



/* Адаптивні стилі для мобільних телефонів */
@media (max-width: 480px) {
    body {
        background-color: #648A7B;
        /* Залишаємо лише колір */
        background-image: none;
        /* Видаляємо фон-зображення */
    }

    .wrapper {
        height: auto;
        width: 365px;
        /* Висота необмежена */
        padding: 30px;
        /* Менші відступи для мобільних */
    }

    .calendar {
        gap: 10px;
        /* Менший відступ між блоками */
    }

        .dayBlock,
        .dayDone {
            width: 120px;
            /* Зменшуємо блоки */
            height: 120px;
            border-width: 6px;
            /* Тонші межі */
        }

    p {
        font-size: 14px;
        /* Менший розмір шрифта для мобільних */
        line-height: 22px;
        /* Відповідний міжрядковий інтервал */
    }

        .futureTask {
            font-size: 18px;
    
        }
    
        .futureText p {
            color: #FFEEAD;
            font-size: 14px;
        }

    /* Модалка */
    .surprise,
    .futureModal {
        width: 70%;
        /* Задаємо ширину 90% екрану */
        max-width: 300px;
        /* Максимальна ширина модалки */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Центруємо модалку */
    }

    .surprise-backdrop,
    .futureModal-backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(66, 102, 88, 0.65);
        /* Бекдроп з напівпрозорим фоном */
    }

    
    .meme, .prophecy {
        width: 90%; /* Ширина 90% екрану */
        max-width: 350px; /* Максимальна ширина */
        margin: 0 auto; /* Центрування */
    }

    .meme p, .prophecy p {
        font-size: 14px; /* Зменшення розміру тексту */
        line-height: 1.4; /* Щільніший текст */
    }
}




/* Для планшетів (ширина екрану до 768px)
@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .calendar {
        gap: 20px 5px;
    }

    .dayBlock,
    .dayDone {
        width: 150px;
        height: 150px;
    }

    p {
        font-size: 20px;
        line-height: 30px;
    }

    #dayNumber {
        font-size: 60px;
    }

    .surprise,
    .futureModal {
        width: 90%;
        height: auto;
        padding: 20px;
    }

        .modalText p {
            font-size: 18px;
        }
    
        .modalText .word-text,
        .modalText .format-text {
            font-size: 18px;
            line-height: 1;
           
        }
    
        .modalText .word-text {
            font-weight: 400;
        }
    
        .modalText .format-text {
            margin-top: 5px;
        }
    
        .futureText {
            padding: 60px 20px;
        }
    
        .futureTask {
            text-align: center;
    
        }
    
        .futureText p {
            color: #FFEEAD;
            font-size: 18px;
        }
}  */

