body {
    margin: 0;
    background-color: #648A7B;
}

.wrapper {
    width: 1000px;
    height: 850px;
    padding: 40px;
    background-color: rgb(21, 20, 20);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 40px 30px 30px rgba(24, 60, 49, 0.743);
    

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    margin: auto;
    display: block;
}

.meme {
    width: 500px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dayBlock {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #A8E6CE; */
    background: linear-gradient(to bottom right, #FFAD60, #96CEB4);
    justify-content: center;
    border-radius: 20px;
    border: 5px solid rgb(44, 106, 86);
    pointer-events: auto;
}


.dayDone {
    width: 150px;
        height: 150px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        border-radius: 20px;
        border: 5px solid rgb(44, 106, 86);
        overflow: hidden
}

p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

#dayNumber {
    font-size: 78px;
        color: #084534;
        font-weight: 800;
        text-align: center;
        word-wrap: break-word;
        line-height: 35px;
        margin-top: auto;
        margin-bottom: auto;
}

.dayBlock:hover {
    background: #FFEEAD;
    cursor: pointer;
    
}

button {
    display: block;
    background-color: rgb(91, 233, 188);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 5px;
    font-size: 18px;
    color: rgb(21, 20, 20);
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 10px;
    border: 5px solid rgb(44, 106, 86);
    cursor: pointer;
    outline: none;
}

#btn {
    margin-top: 20px;
}

.surprise {
    position: fixed;
    /* Фіксується відносно вікна браузера */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Центрування по обох осях */
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    /* Анімація при відкритті */
    z-index: 10;
    background-color: #FFEEAD;
    width: 500px;
    /* Фіксована ширина */
    height: 300px;
    /* Фіксована висота */
    border-radius: 10px;
    /* Додає згладжені кути */
    cursor: default;
    color: #A02334;
    
}

/* Стилі для фону */
.surprise-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #426658a5;
    z-index: 9;
    display: none;
    /* Початково приховане */
}

.surprise-backdrop.open {
    display: block;
    /* Початково приховане */
}

.futureModal {
    position: fixed;
    /* Фіксується відносно вікна браузера */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Центрування по обох осях */
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    /* Анімація при відкритті */
    z-index: 10;
    background-color: #A02334;
    width: 500px;
    /* Фіксована ширина */
    height: 300px;
    /* Фіксована висота */
    border-radius: 10px;
    /* Додає згладжені кути */
    cursor: default;
    color: #FFEEAD;

}

.futureModal.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    /* Масштаб при відкритті */
}

/* Стилі для фону */
.futureModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #426658a5;
    z-index: 9;
    display: none;
    /* Початково приховане */
}



.futureModal-backdrop.open {
    display: block;
    /* Початково приховане */
}


/* Медіазапит для більших екранів */
@media (min-width: 768px) {
    .surprise {
        max-width: 500px;
        /* Залишає розмір 300px */
        max-height: 500px;
        /* Залишає розмір 200px */
    }
}

/* Стиль для відкритої модалки */
.surprise.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    /* Масштаб при відкритті */
}



.futureModal.close:hover {
    background: #FFEEAD;
    cursor: pointer;
    border-radius: 50%;
    color: #A02334;

}

.modalText {
    padding: 60px 20px;
}

.modalTask {
    text-align: center;
    
}

.modalText p {
    color: #A02334;
    font-size: 22px;
}

.futureText {
    padding: 60px 20px;
}

.futureTask {
    text-align: center;

}

.futureText p {
    color: #FFEEAD;
    font-size: 22px;
}

.close {
    position: absolute;
    /* Фіксується відносно вікна браузера */
    top: 5%;
    right: 5%;
    font-weight: bold;
    font-size: 26px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #A02334;
    z-index: 9;
}

.close:hover {
    background: #A02334;
    cursor: pointer;
    border-radius: 50%;
    color: #FFEEAD;

}

.futureModal .close {
    position: absolute;
    /* Фіксується відносно вікна браузера */
    top: 5%;
    right: 5%;
    font-weight: bold;
    font-size: 26px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #FFEEAD;
    z-index: 10;
}

.futureModal .close:hover {
    background: #FFEEAD;
    cursor: pointer;
    border-radius: 50%;
    color: #A02334;

}